<div class="footer">
  <div class="footer-links">
    <%= link_to "", class: "footer-icone" do %>
      <%= image_tag "mail_white.png", alt: "mail" %>
      <p>Contactez-moi</p>
    <% end %>

    <%= link_to "", class: "footer-icone" do %>
      <%= image_tag "phone_white.png", alt: "phone" %>
      <p>06 87 40 56 14</p>
    <% end %>

    <%= link_to "https://www.facebook.com/lignonvivianpaysage", class: "footer-icone", target: :_blank do %>
      <%= image_tag "facebook_white.png", alt: "Facebook" %>
      <p>Rejoignez-moi</p>
    <% end %>

    <%= link_to "", class: "footer-icone" do %>
      <%= image_tag "pin_white.png", alt: "pin" %>
      <p>12450 Calmont</p>
    <% end %>
  </div>
</div>
