<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>

  <div class="rubriques">
  </div>

  <div class="icones-contact">
    <%= link_to "", class: "navbar-icone" do %>
      <%= image_tag "phone.png" %>
    <% end %>
    <%= link_to "https://www.facebook.com/lignonvivianpaysage", class: "navbar-icone", target: :_blank do %>
      <%= image_tag "facebook.png", alt: "Facebook" %>
    <% end %>
  </div>
</div>
